<html>
{% block title %}{% endblock %}
{% block head %}

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather App</title>
<!-- Import the React, React-Dom and Babel libraries from unpkg -->
  <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>





<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    .centerlist {
        display: block;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 5%;
    }

    .space {
        margin: 10px;
        background-color: #fefbd8;
    }

    .jsonblock {
        width: 300px;
        background-color: #fecbc8;
    }

    .searchbox {
        width: 500px;
        min-width: 500px;
        max-width: 500px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

{% endblock %}
{% block body %}

<div id="root"></div>

<script type="text/babel">
// Obtain the root 
    const rootElement = document.getElementById('root')
// Create a ES6 class component    
    class WeatherApp extends React.Component { 

    constructor(props) {
        super(props);
        this.state = {
              city: "",
              autocompleteCities: [],
              autocompleteErr: "",
              selectedCities: [],
              selectedCitiesSet: new Set(),
              weatherResponses: [],
              shouldShowJSON: false,
              shouldShowHistoricalData: false,
        };
    }

    componentDidMount() {
    // Jquery here $(...)...
        $(function() {
            $("#datepicker").datepicker({
                onSelect: function() { 
                    this.dateTimestamp = localStorage.getItem("datetimestamp");
                    const dateObject = $(this).datepicker('getDate'); 
                    const unixTimestamp = Math.floor(dateObject.getTime() / 1000);
                    this.dateTimestamp = unixTimestamp;
                    localStorage.setItem("datetimestamp", this.dateTimestamp);
                }
            });
        });

        $(function() {
            $("#datepickerend").datepicker({
                onSelect: function() {
                    this.dateTimestampend = localStorage.getItem("datetimestampend");
                    const dateObject = $(this).datepicker('getDate'); 
                    const unixTimestamp = Math.floor(dateObject.getTime() / 1000);
                    this.dateTimestampend = unixTimestamp;
                    localStorage.setItem("dateTimestampend", this.dateTimestampend);
                }
            });
        });
    }

  handleCityChange = async (e) => {
    e.persist();
    this.setState({city: e.target.value});
    if (!this.state.city) return;

    const res = await this.fetchPlace(this.state.city);

    !this.state.autocompleteCities.includes(e.target.value) &&
      res.predictions &&
      this.setState({autocompleteCities: res.predictions.map((place) => place)})
    res.error ? this.setState({autocompleteErr: res.error}) : this.setState({autocompleteErr: ""});
  };

  handleChangeSelectedCity = async (e) => {
    e.persist();

    const options = e.target.options;
    for (let i = 0, l = options.length; i < l; i++) {
        if (options[i].selected) {

            const selectedCity = JSON.parse(options[i].value);

            if (!this.state.selectedCitiesSet.has(selectedCity.place_id))
            {
                this.state.selectedCities.push(selectedCity);
                this.state.selectedCitiesSet.add(selectedCity.place_id);
            }
        }
    }

    this.setState({selectedCities: this.state.selectedCities});
    this.setState({selectedCitiesSet: this.state.selectedCitiesSet});

  };

    handleRemoveFromSelectedCities = async (e, id) => {
        const newSelectedCities = this.state.selectedCities.filter((city) => city.place_id !== id);
        this.state.selectedCitiesSet.delete(id);
        this.setState({selectedCities: newSelectedCities});
        this.setState({selectedCitiesSet: this.state.selectedCitiesSet});

  };

  createWeatherWithDate = (selectedCities) => {
        const weatherDataCities = selectedCities;
        for (let i = 0; i < weatherDataCities.length; i++) {
            weatherDataCities[i]['historicalDataDate'] = localStorage.getItem("datetimestamp");
            const endTime = localStorage.getItem("dateTimestampend");
            weatherDataCities[i]['historicalDataDateEnd'] = endTime;
        }
        return weatherDataCities;
  };

  handleGetWeather = async () => {
        const weatherDataWithDate = this.createWeatherWithDate(this.state.selectedCities);
        const weatherData = JSON.stringify(weatherDataWithDate);
        const res = await this.fetchWeather(weatherData);
        this.setState({weatherResponses: res});
  };

  handleGetWeatherExcel = async () => {
        const weatherDataWithDate = this.createWeatherWithDate(this.state.selectedCities);
        const weatherData = JSON.stringify(weatherDataWithDate);
        const res = await this.fetchExcelWeather(weatherData);
  };

  toggleShowHistoricalData = async () => {
        this.setState({shouldShowHistoricalData: !this.state.shouldShowHistoricalData});
  };

  toggleShowJSON = async () => {
        this.setState({shouldShowJSON: !this.state.shouldShowJSON});
  };

  fetchExcelWeather = async (weatherData) => {
        try {
            // http://127.0.0.1:5000/download?weatherData=${weatherData}
            // http://domgurnari.pythonanywhere.com/download?weatherData=${weatherData}
            const res = await fetch(
                `http://127.0.0.1:5000/download?weatherData=${weatherData}`
            ).then(resp => resp.status === 200 ? resp.blob() : Promise.reject('something went wrong'))
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                // the filename you want
                a.download = 'weatherdata.csv';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                // or you know, something with better UX...
                alert('your file has downloaded!'); 
            })
            .catch(() => alert('oh no!'));
            if (!res.ok) throw new Error(res.statusText);
            return res;
            // return res.json();
            
            
        } catch (err) {
            return { error: "Unable to retrieve places" };
        }
    };

  fetchWeather = async (weatherData) => {
        try {
            // http://127.0.0.1:5000/weather?weatherData=${weatherData}
            // http://domgurnari.pythonanywhere.com/weather?weatherData=${weatherData}
            const res = await fetch(
                `http://127.0.0.1:5000/weather?weatherData=${weatherData}`
            );
            if (!res.ok) throw new Error(res.statusText);
            return res.json();
        } catch (err) {
            return { error: "Unable to retrieve places" };
        }
    };

    fetchPlace = async (text) => {
        try {
            // http://127.0.0.1:5000/places?city=${text}
            // http://domgurnari.pythonanywhere.com/places?city=${text}
            const res = await fetch(
                `http://127.0.0.1:5000/places?city=${text}`
            );
            if (!res.ok) throw new Error(res.statusText);
            return res.json();
        } catch (err) {
            return { error: "Unable to retrieve places" };
        }
    };

    render() { 
        return (
        <div>
    <form action="{{ url_for('weather') }}" method="post" name="regform" id="regform">
      <div className="center">
        <div className="placesAutocomplete__inputWrap">
          <div className="center">
            Enter a city (Example: Paris)
            </div>
          <label htmlFor="city" className="label">
            {this.state.autocompleteErr && (
              <span className="inputError">{this.state.autocompleteErr}</span>
            )}
          </label>
          <input
            list="places"
            type="text"
            id="city"
            name="city"
            onChange={this.handleCityChange}
            value={this.state.city}
            required
            pattern={this.state.autocompleteCities.map((place) => place.description).join("|")}
            autoComplete="off"
            className="searchbox"
          />
          <input
            list="places"
            type="hidden"
            id="placeid"
            name="place"
            value={this.state.city}
            required
            pattern={this.state.autocompleteCities.map((place) => place.description).join("|")}
            autoComplete="off"
          />
          <br />
          {this.state.city &&
            <select
                multiple={true}
                onChange={this.handleChangeSelectedCity}
                value={this.state.city}
                className="searchbox"
            >
        {this.state.autocompleteCities.map((city, i) => (
               <option key={i} value={`{"place": "${city.description}", "place_id":"${city.place_id}"}`}>{city.description}</option>
            ))}
        </select>
        }
          <span className="placesAutocomplete__hint">

          </span>
        </div>
      </div>
    </form>

    <ol className="centerlist">
        {this.state.selectedCities.map((city) => (
                <li>
               <div>{city.place}</div>
               <button onClick={() => this.handleRemoveFromSelectedCities(city.place, city.place_id)}>Remove</button>
               </li>
            ))}
    </ol>


    <div className="center">Get Historial Data</div>
    <div className="center">Start Date: <input onSelect={this.handleDateChange} type="text" id="datepicker" /></div>
    <div className="center">End Date: <input onSelect={this.handleDateChange} type="text" id="datepickerend" /></div>

    <div className="center">
        <button onClick={() => this.handleGetWeather()}>Get Weather for Selected Places</button>
    </div>

    {this.state.weatherResponses.length > 0 &&
            <div className="center">
                <button onClick={() => this.handleGetWeatherExcel()}>Download Data</button>
            </div>
        }

    <div className="center">
        {this.state.weatherResponses && this.state.weatherResponses.map((weatherResponse) => (
            <div className="space">
                <b>{weatherResponse.place_name}</b>
                <br />
                <div>Today</div>
                <br />
                <div>Latitude: {(weatherResponse.latitude).toFixed(2)}</div>
                <div>Longitude: {(weatherResponse.longitude).toFixed(2)}</div>

                <div>
                    <img 
                        src={`http://openweathermap.org/img/wn/${weatherResponse['currentWeather']['weather'][0]['icon']}.png`}
                        alt="new"
                    />
                </div>

                <div>{weatherResponse['currentWeather']['weather'][0]['description']}</div>

                <div>Temperature: {(weatherResponse['currentWeather']['main']['temp']-273.15).toFixed(2)} C</div>
                <div>Feels Like: {(weatherResponse['currentWeather']['main']['feels_like']-273.15).toFixed(2)} C</div>
                <div>Temperature Min: {(weatherResponse['currentWeather']['main']['temp_max']-273.15).toFixed(2)} C</div>
                <div>Temperature Max: {(weatherResponse['currentWeather']['main']['temp_min']-273.15).toFixed(2)} C</div>
                <div>Humidity: {weatherResponse['currentWeather']['main']['humidity']}</div>
                <div>Pressure: {weatherResponse['currentWeather']['main']['pressure']}</div>

                <br />
                <button onClick={() => this.toggleShowHistoricalData()}>Toggle Show Historical Data</button>
                {this.state.shouldShowHistoricalData  && weatherResponse['historical_data'].map((historical) => (
                    <div>
                    <b>Date: {(new Date(historical['data'][0]['dt'] * 1000)).toLocaleDateString(undefined, {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}</b>
                    <div>
                        <img 
                            src={`http://openweathermap.org/img/wn/${historical['data'][0]['weather'][0]['icon']}.png`}
                            alt="new"
                        />
                    </div>
                    <div></div>
                    <div>{historical['data'][0]['weather'][0]['description']}</div>
                    <div>Temperature: {(historical['data'][0]['temp']-273.15).toFixed(2)} C</div>
                    <div>Feels Like: {(historical['data'][0]['feels_like']-273.15).toFixed(2)} C</div>
                    <div>Humidity: {historical['data'][0]['humidity']}</div>
                    <div>Pressure: {historical['data'][0]['pressure']}</div>
                    </div>
                ))}

                

                <button onClick={() => this.toggleShowJSON()}>Toggle Show JSON</button>
                {this.state.shouldShowJSON && 
                    <div className="jsonblock">{JSON.stringify(weatherResponse)}</div>
                }


            </div>
            ))}
    </div>

    
</div>
        
      );
      } 
    }
// Create a function to wrap up your component
function App(){
  return(
  <div>
    <WeatherApp />
  </div>
  )
}


// Use the ReactDOM.render to show your component on the browser
    ReactDOM.render(
      <App />,
      rootElement
    )
</script>

  
{% endblock %}


</html>